# Clean data

In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('data/origin/weatherQN_2021_2025.csv')
data.head(10)

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2021-01-01 07:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
1,2021-01-01 10:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2,2021-01-01 13:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
3,2021-01-01 16:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
4,2021-01-01 19:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
5,2021-01-01 22:00:00,21.0,16.6,76.0,NaN,NaN,340.0,10.8,NaN,1017.7,NaN,NaN
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
7,2021-01-02 01:00:00,20.0,17.8,87.0,0.2,NaN,340.0,14.4,NaN,1016.8,NaN,NaN
8,2021-01-02 02:00:00,20.1,17.5,85.0,0.1,NaN,348.0,18.7,NaN,1016.5,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35304 entries, 0 to 35303
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    35304 non-null  object
 1   temp    35304 non-null  float64
 2   dwpt    35304 non-null  float64
 3   rhum    35304 non-null  float64
 4   prcp    35215 non-null  float64
 5   snow    0 non-null      float64
 6   wdir    35304 non-null  float64
 7   wspd    35304 non-null  float64
 8   wpgt    0 non-null      float64
 9   pres    35304 non-null  float64
 10  tsun    0 non-null      float64
 11  coco    22591 non-null  float64
dtypes: float64(11), object(1)
memory usage: 3.2+ MB

## Drop Null columns

In [15]:
data.drop(columns=['snow', 'wpgt', 'tsun'], inplace=True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35304 entries, 0 to 35303
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    35304 non-null  object
 1   temp    35304 non-null  float64
 2   dwpt    35304 non-null  float64
 3   rhum    35304 non-null  float64
 4   prcp    35215 non-null  float64
 5   wdir    35304 non-null  float64
 6   wspd    35304 non-null  float64
 7   pres    35304 non-null  float64
 8   coco    22591 non-null  float64
dtypes: float64(8), object(1)
memory usage: 2.4+ MB

In [17]:
data.head(10)

                  time  temp  dwpt  rhum  prcp   wdir  wspd    pres  coco
0  2021-01-01 07:00:00  22.1  14.7  63.0   NaN  360.0  14.4  1017.5   NaN
1  2021-01-01 10:00:00  21.5  16.9  75.0   NaN  340.0  14.4  1018.4   NaN
2  2021-01-01 13:00:00  21.5  16.9  75.0   NaN  340.0  10.8  1017.0   NaN
3  2021-01-01 16:00:00  22.2  17.8  76.0   NaN  360.0  14.4  1016.0   NaN
4  2021-01-01 19:00:00  22.0  16.9  73.0   NaN  340.0   7.2  1017.6   NaN
5  2021-01-01 22:00:00  21.0  16.6  76.0   NaN  340.0  10.8  1017.7   NaN
6  2021-01-02 00:00:00  20.0  17.4  85.0   NaN  350.0  20.2  1017.9   NaN
7  2021-01-02 01:00:00  20.0  17.8  87.0   0.2  340.0  14.4  1016.8   NaN
8  2021-01-02 02:00:00  20.1  17.5  85.0   0.1  348.0  18.7  1016.5   NaN
9  2021-01-02 03:00:00  20.0  17.8  87.0   0.2  343.0  17.6  1016.1   NaN

## Fill missing values

### Fill coco with nearest values because it is the weather condition.

In [18]:
data['coco'].bfill(inplace=True)

/tmp/ipykernel_225841/2942262129.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['coco'].bfill(inplace=True)

In [19]:
data.head(10)

                  time  temp  dwpt  rhum  prcp   wdir  wspd    pres  coco
0  2021-01-01 07:00:00  22.1  14.7  63.0   NaN  360.0  14.4  1017.5   1.0
1  2021-01-01 10:00:00  21.5  16.9  75.0   NaN  340.0  14.4  1018.4   1.0
2  2021-01-01 13:00:00  21.5  16.9  75.0   NaN  340.0  10.8  1017.0   1.0
3  2021-01-01 16:00:00  22.2  17.8  76.0   NaN  360.0  14.4  1016.0   1.0
4  2021-01-01 19:00:00  22.0  16.9  73.0   NaN  340.0   7.2  1017.6   1.0
5  2021-01-01 22:00:00  21.0  16.6  76.0   NaN  340.0  10.8  1017.7   1.0
6  2021-01-02 00:00:00  20.0  17.4  85.0   NaN  350.0  20.2  1017.9   1.0
7  2021-01-02 01:00:00  20.0  17.8  87.0   0.2  340.0  14.4  1016.8   1.0
8  2021-01-02 02:00:00  20.1  17.5  85.0   0.1  348.0  18.7  1016.5   1.0
9  2021-01-02 03:00:00  20.0  17.8  87.0   0.2  343.0  17.6  1016.1   1.0

### Fill prcp with median values

In [20]:
data['prcp'] = data['prcp'].fillna(data['prcp'].mean())

In [21]:
data.head(10)

                  time  temp  dwpt  rhum      prcp   wdir  wspd    pres  coco
0  2021-01-01 07:00:00  22.1  14.7  63.0  0.235689  360.0  14.4  1017.5   1.0
1  2021-01-01 10:00:00  21.5  16.9  75.0  0.235689  340.0  14.4  1018.4   1.0
2  2021-01-01 13:00:00  21.5  16.9  75.0  0.235689  340.0  10.8  1017.0   1.0
3  2021-01-01 16:00:00  22.2  17.8  76.0  0.235689  360.0  14.4  1016.0   1.0
4  2021-01-01 19:00:00  22.0  16.9  73.0  0.235689  340.0   7.2  1017.6   1.0
5  2021-01-01 22:00:00  21.0  16.6  76.0  0.235689  340.0  10.8  1017.7   1.0
6  2021-01-02 00:00:00  20.0  17.4  85.0  0.235689  350.0  20.2  1017.9   1.0
7  2021-01-02 01:00:00  20.0  17.8  87.0  0.200000  340.0  14.4  1016.8   1.0
8  2021-01-02 02:00:00  20.1  17.5  85.0  0.100000  348.0  18.7  1016.5   1.0
9  2021-01-02 03:00:00  20.0  17.8  87.0  0.200000  343.0  17.6  1016.1   1.0

## Save cleaned data

In [23]:
data.to_csv('data/cleaned/weatherQN_2021_2025_cleaned.csv', index=False)