In [13]:
from datetime import datetime
import matplotlib.pyplot as plt 
from meteostat import Point, Daily, Stations, Hourly
import pandas as pd

In [14]:
# Get the nearby weather stations
stations = Stations()
stations = stations.nearby(13.7667, 109.2167)
stations = stations.fetch(1)

stations

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
48870,Quy Nhon,VN,BH,48870,VVQN,13.7667,109.2167,6.0,Asia/Ho_Chi_Minh,1957-01-04,2025-01-28,1957-01-04,2025-03-08,1957-01-01,2022-01-01,0.0

In [15]:
%%time

# Get weather data with wmo
start = datetime(2021, 1, 1)
end = datetime(2025, 3, 13, 23, 59)

data = Hourly('48870', start, end)
data = data.fetch()

CPU times: total: 31.2 ms
Wall time: 50.4 ms

In [16]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2021-01-01 00:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
2021-01-01 03:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2021-01-01 06:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
2021-01-01 09:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
2021-01-01 12:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2025-03-13 19:00:00,22.0,21.8,99.0,0.0,NaN,260.0,7.2,NaN,1012.4,NaN,5.0
2025-03-13 20:00:00,22.1,21.8,98.0,0.0,NaN,261.0,7.9,NaN,1012.0,NaN,5.0
2025-03-13 21:00:00,22.2,21.9,98.0,0.0,NaN,268.0,9.4,NaN,1012.2,NaN,5.0
2025-03-13 22:00:00,22.0,21.7,98.0,0.0,NaN,275.0,9.7,NaN,1012.7,NaN,5.0
2025-03-13 23:00:00,21.9,21.6,98.0,0.0,NaN,269.0,9.7,NaN,1013.5,NaN,5.0

In [17]:
data.tail(20)

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2025-03-13 04:00:00,28.8,22.8,70.0,0.0,NaN,105.0,10.8,NaN,1013.1,NaN,3.0
2025-03-13 05:00:00,29.1,22.6,68.0,0.0,NaN,106.0,13.0,NaN,1012.2,NaN,3.0
2025-03-13 06:00:00,28.9,22.9,70.0,0.0,NaN,104.0,14.4,NaN,1011.1,NaN,3.0
2025-03-13 07:00:00,28.8,23.2,72.0,0.0,NaN,104.0,14.0,NaN,1009.9,NaN,3.0
2025-03-13 08:00:00,28.2,23.3,75.0,0.0,NaN,106.0,14.4,NaN,1009.3,NaN,3.0
2025-03-13 09:00:00,27.6,23.4,78.0,0.0,NaN,109.0,13.7,NaN,1009.1,NaN,1.0
2025-03-13 10:00:00,26.7,23.4,82.0,0.0,NaN,116.0,12.6,NaN,1009.3,NaN,1.0
2025-03-13 11:00:00,25.4,23.5,89.0,0.0,NaN,123.0,9.0,NaN,1009.4,NaN,1.0
2025-03-13 12:00:00,24.5,23.5,94.0,0.0,NaN,122.0,6.1,NaN,1010.3,NaN,3.0
2025-03-13 13:00:00,24.1,23.2,95.0,0.0,NaN,99.0,5.4,NaN,1011.4,NaN,3.0
2025-03-13 14:00:00,23.9,23.2,96.0,0.0,NaN,17.0,5.8,NaN,1012.2,NaN,3.0
2025-03-13 15:00:00,23.4,22.9,97.0,0.0,NaN,237.0,5.4,NaN,1012.5,NaN,3.0
2025-03-13 16:00:00,22.6,22.4,99.0,0.0,NaN,237.0,5.8,NaN,1012.8,NaN,3.0
2025-03-13 17:00:00,22.5,22.5,100.0,0.0,NaN,241.0,5.4,NaN,1013.2,NaN,5.0
2025-03-13 18:00:00,22.0,22.0,100.0,0.0,NaN,245.0,6.5,NaN,1012.7,NaN,5.0
2025-03-13 19:00:00,22.0,21.8,99.0,0.0,NaN,260.0,7.2,NaN,1012.4,NaN,5.0
2025-03-13 20:00:00,22.1,21.8,98.0,0.0,NaN,261.0,7.9,NaN,1012.0,NaN,5.0
2025-03-13 21:00:00,22.2,21.9,98.0,0.0,NaN,268.0,9.4,NaN,1012.2,NaN,5.0
2025-03-13 22:00:00,22.0,21.7,98.0,0.0,NaN,275.0,9.7,NaN,1012.7,NaN,5.0
2025-03-13 23:00:00,21.9,21.6,98.0,0.0,NaN,269.0,9.7,NaN,1013.5,NaN,5.0

data is delay 7 hours

In [18]:
data = data.reset_index()

In [19]:
data.head()

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2021-01-01 00:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
1,2021-01-01 03:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2,2021-01-01 06:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
3,2021-01-01 09:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
4,2021-01-01 12:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN

In [20]:
data['time'] = pd.to_datetime(data['time'])

data['time'] = data['time'] + pd.Timedelta(hours=7)

In [21]:
data.head(10)

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2021-01-01 07:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
1,2021-01-01 10:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2,2021-01-01 13:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
3,2021-01-01 16:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
4,2021-01-01 19:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
5,2021-01-01 22:00:00,21.0,16.6,76.0,NaN,NaN,340.0,10.8,NaN,1017.7,NaN,NaN
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
7,2021-01-02 01:00:00,20.0,17.8,87.0,0.2,NaN,340.0,14.4,NaN,1016.8,NaN,NaN
8,2021-01-02 02:00:00,20.1,17.5,85.0,0.1,NaN,348.0,18.7,NaN,1016.5,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN

In [22]:
data = data[6:] # Get the data from day 2-1-2021 and after
data.head()

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
7,2021-01-02 01:00:00,20.0,17.8,87.0,0.2,NaN,340.0,14.4,NaN,1016.8,NaN,NaN
8,2021-01-02 02:00:00,20.1,17.5,85.0,0.1,NaN,348.0,18.7,NaN,1016.5,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN
10,2021-01-02 04:00:00,19.5,17.6,89.0,0.2,NaN,320.0,10.8,NaN,1015.7,NaN,NaN

In [23]:
data = data.iloc[::3] # To much data --> get each 3 hours

data

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN
12,2021-01-02 06:00:00,19.8,17.8,88.0,0.1,NaN,339.0,17.6,NaN,1016.7,NaN,NaN
15,2021-01-02 09:00:00,20.2,18.3,89.0,0.2,NaN,347.0,18.7,NaN,1018.4,NaN,NaN
18,2021-01-02 12:00:00,22.0,18.0,78.0,0.1,NaN,3.0,28.4,NaN,1016.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
36576,2025-03-13 17:00:00,26.7,23.4,82.0,0.0,NaN,116.0,12.6,NaN,1009.3,NaN,1.0
36579,2025-03-13 20:00:00,24.1,23.2,95.0,0.0,NaN,99.0,5.4,NaN,1011.4,NaN,3.0
36582,2025-03-13 23:00:00,22.6,22.4,99.0,0.0,NaN,237.0,5.8,NaN,1012.8,NaN,3.0
36585,2025-03-14 02:00:00,22.0,21.8,99.0,0.0,NaN,260.0,7.2,NaN,1012.4,NaN,5.0
36588,2025-03-14 05:00:00,22.0,21.7,98.0,0.0,NaN,275.0,9.7,NaN,1012.7,NaN,5.0

In [24]:
data.to_csv('../data/raw/weatherQN_2021_2025.csv', index=False)