In [1]:
from datetime import datetime
import matplotlib.pyplot as plt 
from meteostat import Point, Daily, Stations, Hourly
import pandas as pd

In [2]:
# Get the nearby weather stations
stations = Stations()
stations = stations.nearby(13.7667, 109.2167)
stations = stations.fetch(1)

stations

,name,country,region,wmo,icao,latitude,longitude,elevation,timezone,hourly_start,hourly_end,daily_start,daily_end,monthly_start,monthly_end,distance
id,,,,,,,,,,,,,,,,
48870,Quy Nhon,VN,BH,48870,VVQN,13.7667,109.2167,6.0,Asia/Ho_Chi_Minh,1957-01-04,2025-01-28,1957-01-04,2025-02-26,1957-01-01,2022-01-01,0.0

In [2]:
%%time

# Get weather data with wmo
start = datetime(2021, 1, 1)
end = datetime(2025, 3, 5, 23, 59)

data = Hourly('48870', start, end)
data = data.fetch()

FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.

CPU times: total: 312 ms
Wall time: 3min 35s

In [3]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2021-01-01 00:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
2021-01-01 03:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2021-01-01 06:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
2021-01-01 09:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
2021-01-01 12:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2025-03-05 19:00:00,23.6,23.3,98.0,0.0,NaN,191.0,11.2,NaN,1010.5,NaN,3.0
2025-03-05 20:00:00,23.1,22.9,99.0,0.0,NaN,244.0,9.0,NaN,1010.3,NaN,5.0
2025-03-05 21:00:00,22.8,22.6,99.0,0.0,NaN,270.0,7.6,NaN,1010.4,NaN,5.0
2025-03-05 22:00:00,22.8,22.6,99.0,0.0,NaN,289.0,7.2,NaN,1010.7,NaN,5.0
2025-03-05 23:00:00,22.9,22.6,98.0,0.0,NaN,286.0,7.9,NaN,1011.4,NaN,5.0

In [4]:
data.tail(20)

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2025-03-05 04:00:00,29.3,24.4,75.0,0.0,NaN,118.0,20.9,NaN,1009.8,NaN,3.0
2025-03-05 05:00:00,29.5,24.4,74.0,0.0,NaN,122.0,23.0,NaN,1008.9,NaN,3.0
2025-03-05 06:00:00,29.2,24.1,74.0,0.0,NaN,128.0,24.8,NaN,1007.9,NaN,3.0
2025-03-05 07:00:00,28.9,23.8,74.0,0.0,NaN,130.0,23.8,NaN,1007.0,NaN,3.0
2025-03-05 08:00:00,28.4,23.5,75.0,0.0,NaN,131.0,21.6,NaN,1006.7,NaN,3.0
2025-03-05 09:00:00,27.7,23.5,78.0,0.0,NaN,134.0,20.9,NaN,1006.3,NaN,3.0
2025-03-05 10:00:00,26.7,23.6,83.0,0.0,NaN,137.0,18.4,NaN,1006.7,NaN,3.0
2025-03-05 11:00:00,25.6,23.5,88.0,0.0,NaN,138.0,14.4,NaN,1007.3,NaN,1.0
2025-03-05 12:00:00,25.0,23.6,92.0,0.0,NaN,135.0,10.1,NaN,1008.1,NaN,1.0
2025-03-05 13:00:00,24.6,23.7,95.0,0.0,NaN,127.0,8.6,NaN,1008.8,NaN,1.0
2025-03-05 14:00:00,24.2,23.7,97.0,0.0,NaN,123.0,7.9,NaN,1009.6,NaN,1.0
2025-03-05 15:00:00,23.9,23.4,97.0,0.0,NaN,145.0,7.9,NaN,1010.2,NaN,1.0
2025-03-05 16:00:00,23.8,23.5,98.0,0.0,NaN,150.0,9.7,NaN,1011.0,NaN,1.0
2025-03-05 17:00:00,23.8,23.5,98.0,0.0,NaN,153.0,11.2,NaN,1011.2,NaN,2.0
2025-03-05 18:00:00,23.7,23.4,98.0,0.0,NaN,166.0,11.5,NaN,1010.8,NaN,2.0
2025-03-05 19:00:00,23.6,23.3,98.0,0.0,NaN,191.0,11.2,NaN,1010.5,NaN,3.0
2025-03-05 20:00:00,23.1,22.9,99.0,0.0,NaN,244.0,9.0,NaN,1010.3,NaN,5.0
2025-03-05 21:00:00,22.8,22.6,99.0,0.0,NaN,270.0,7.6,NaN,1010.4,NaN,5.0
2025-03-05 22:00:00,22.8,22.6,99.0,0.0,NaN,289.0,7.2,NaN,1010.7,NaN,5.0
2025-03-05 23:00:00,22.9,22.6,98.0,0.0,NaN,286.0,7.9,NaN,1011.4,NaN,5.0

data is delay 7 hours

In [5]:
data = data.reset_index()

In [6]:
data.head()

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2021-01-01 00:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
1,2021-01-01 03:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2,2021-01-01 06:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
3,2021-01-01 09:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
4,2021-01-01 12:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN

In [7]:
data['time'] = pd.to_datetime(data['time'])

data['time'] = data['time'] + pd.Timedelta(hours=7)

In [8]:
data.head(10)

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
0,2021-01-01 07:00:00,22.1,14.7,63.0,NaN,NaN,360.0,14.4,NaN,1017.5,NaN,NaN
1,2021-01-01 10:00:00,21.5,16.9,75.0,NaN,NaN,340.0,14.4,NaN,1018.4,NaN,NaN
2,2021-01-01 13:00:00,21.5,16.9,75.0,NaN,NaN,340.0,10.8,NaN,1017.0,NaN,NaN
3,2021-01-01 16:00:00,22.2,17.8,76.0,NaN,NaN,360.0,14.4,NaN,1016.0,NaN,NaN
4,2021-01-01 19:00:00,22.0,16.9,73.0,NaN,NaN,340.0,7.2,NaN,1017.6,NaN,NaN
5,2021-01-01 22:00:00,21.0,16.6,76.0,NaN,NaN,340.0,10.8,NaN,1017.7,NaN,NaN
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
7,2021-01-02 01:00:00,20.0,17.8,87.0,0.2,NaN,340.0,14.4,NaN,1016.8,NaN,NaN
8,2021-01-02 02:00:00,20.1,17.5,85.0,0.1,NaN,348.0,18.7,NaN,1016.5,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN

In [9]:
data = data[6:] # Get the data from day 2-1-2021 and after
data.head()

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
7,2021-01-02 01:00:00,20.0,17.8,87.0,0.2,NaN,340.0,14.4,NaN,1016.8,NaN,NaN
8,2021-01-02 02:00:00,20.1,17.5,85.0,0.1,NaN,348.0,18.7,NaN,1016.5,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN
10,2021-01-02 04:00:00,19.5,17.6,89.0,0.2,NaN,320.0,10.8,NaN,1015.7,NaN,NaN

In [10]:
data = data.iloc[::3] # To much data --> get each 3 hours

data

,time,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
6,2021-01-02 00:00:00,20.0,17.4,85.0,NaN,NaN,350.0,20.2,NaN,1017.9,NaN,NaN
9,2021-01-02 03:00:00,20.0,17.8,87.0,0.2,NaN,343.0,17.6,NaN,1016.1,NaN,NaN
12,2021-01-02 06:00:00,19.8,17.8,88.0,0.1,NaN,339.0,17.6,NaN,1016.7,NaN,NaN
15,2021-01-02 09:00:00,20.2,18.3,89.0,0.2,NaN,347.0,18.7,NaN,1018.4,NaN,NaN
18,2021-01-02 12:00:00,22.0,18.0,78.0,0.1,NaN,3.0,28.4,NaN,1016.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
36384,2025-03-05 17:00:00,26.7,23.6,83.0,0.0,NaN,137.0,18.4,NaN,1006.7,NaN,3.0
36387,2025-03-05 20:00:00,24.6,23.7,95.0,0.0,NaN,127.0,8.6,NaN,1008.8,NaN,1.0
36390,2025-03-05 23:00:00,23.8,23.5,98.0,0.0,NaN,150.0,9.7,NaN,1011.0,NaN,1.0
36393,2025-03-06 02:00:00,23.6,23.3,98.0,0.0,NaN,191.0,11.2,NaN,1010.5,NaN,3.0
36396,2025-03-06 05:00:00,22.8,22.6,99.0,0.0,NaN,289.0,7.2,NaN,1010.7,NaN,5.0

In [11]:
data.to_csv('../data/raw/weatherQN_2021_2025.csv', index=False)